* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.258);
}

nav a {
  color: #000000;
  text-decoration: none;
  font: 500 1.2rem "Roboto", sans-serif;
  padding: 0.4rem;
  margin: 0 2vmax;
}
